# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv')

### Step 4.  What is the frequency of the dataset?

### Step 5. Set the column Date as the index.

In [3]:
df.set_index('Date', inplace = True)

### Step 6. What is the type of the index?

In [4]:
df.index.dtype

dtype('O')

### Step 7. Set the index to a DatetimeIndex type

In [5]:
df.index = pd.to_datetime(df.index)
df.index.dtype

dtype('<M8[ns]')

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [6]:
monthly = df.resample('ME').sum(numeric_only = True)
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387,-16805.0,-1582,3188.0,8688,6841.0,1849,-6510.0
2011-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2011-12-31,-23657,-16659.0,-6999,2395.0,13817,9335.0,4483,-7443.0
2012-01-31,0,0.0,0,0.0,0,0.0,0,0.0
2012-02-29,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...
2024-08-31,0,0.0,0,0.0,0,0.0,0,0.0
2024-09-30,0,0.0,0,0.0,0,0.0,0,0.0
2024-10-31,0,0.0,0,0.0,0,0.0,0,0.0
2024-11-30,0,0.0,0,0.0,0,0.0,0,0.0
2024-12-31,148012,0.0,135741,0.0,124989,0.0,10753,0.0

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [7]:
monthly.drop(index = monthly[monthly.sum(axis = 1) == 0].index, axis = 0, inplace = True)
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387,-16805.0,-1582,3188.0,8688,6841.0,1849,-6510.0
2011-12-31,-23657,-16659.0,-6999,2395.0,13817,9335.0,4483,-7443.0
2012-12-31,-23929,-22012.0,-1915,785.0,9828,12491.0,-2663,-13316.0
2013-12-31,8052,-5562.0,13615,4180.0,-24460,-14209.0,-10251,-12227.0
2014-12-31,-17011,-15124.0,-1887,-6141.0,-14400,-19014.0,4614,-37552.0
2015-12-31,-36337,-25116.0,-11221,-12474.0,-28678,-34571.0,5893,-77489.0
2017-01-31,-16148,-16362.0,214,-3621.0,14983,13870.0,1113,-4785.0
2017-12-31,-35122,-38565.0,3443,-6893.0,11175,12490.0,-1317,-30840.0
2019-01-31,97,1372.0,-1275,-5665.0,-1184,-8324.0,7140,-6752.0
2019-12-31,-58297,-50202.0,-8095,-5209.0,38491,28810.0,9680,-25014.0
2020-12-31,-66618,-40387.0,-26231,-2972.0,60423,50781.0,9643,-9170.0
2022-07-31,35257,0.0,15635,0.0,11090,0.0,4545,0.0
2022-08-31,48663,0.0,32353,0.0,33705,0.0,-1352,0.0
2022-09-30,13775,0.0,10324,0.0,11629,0.0,-1305,0.0
2022-10-31,82879,0.0,55644,0.0,47435,0.0,8209,0.0
2022-11-30,82731,0.0,54314,0.0,37348,0.0,16967,0.0
2022-12-31,40451,0.0,29124,0.0,18273,0.0,10849,0.0
2023-01-31,34891,0.0,7853,0.0,-9945,0.0,17797,0.0
2023-02-28,13284,0.0,16508,0.0,6243,0.0,10264,0.0
2023-03-31,28861,0.0,3713,0.0,2500,0.0,1213,0.0
2023-04-30,39723,0.0,19058,0.0,14426,0.0,4632,0.0
2023-05-31,23789,0.0,6377,0.0,2020,0.0,4358,0.0
2023-06-30,62390,0.0,50665,0.0,39254,0.0,11408,0.0
2023-07-31,63164,0.0,46019,0.0,38479,0.0,7539,0.0
2023-08-31,18730,0.0,11967,0.0,10880,0.0,1089,0.0
2023-09-30,37875,0.0,29963,0.0,29830,0.0,133,0.0
2023-10-31,27572,0.0,13947,0.0,14375,0.0,-429,0.0
2023-11-30,114386,0.0,78843,0.0,73411,0.0,5433,0.0
2023-12-31,112558,0.0,99097,0.0,80368,0.0,18729,0.0
2024-01-31,58942,0.0,36802,0.0,30780,0.0,6022,0.0
2024-02-29,44098,0.0,35907,0.0,27098,0.0,8809,0.0
2024-03-31,105578,0.0,87666,0.0,76618,0.0,11047,0.0
2024-05-31,79344,0.0,51938,0.0,42353,0.0,9584,0.0
2024-06-30,79138,0.0,51872,0.0,39741,0.0,12131,0.0
2024-07-31,134078,0.0,98285,0.0,95686,0.0,2598,0.0
2024-12-31,148012,0.0,135741,0.0,124989,0.0,10753,0.0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [8]:
yearly = monthly.resample('YS-JAN').sum()
yearly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-01-01,-42044,-33464.0,-8581,5583.0,22505,16176.0,6332,-13953.0
2012-01-01,-23929,-22012.0,-1915,785.0,9828,12491.0,-2663,-13316.0
2013-01-01,8052,-5562.0,13615,4180.0,-24460,-14209.0,-10251,-12227.0
2014-01-01,-17011,-15124.0,-1887,-6141.0,-14400,-19014.0,4614,-37552.0
2015-01-01,-36337,-25116.0,-11221,-12474.0,-28678,-34571.0,5893,-77489.0
2016-01-01,0,0.0,0,0.0,0,0.0,0,0.0
2017-01-01,-51270,-54927.0,3657,-10514.0,26158,26360.0,-204,-35625.0
2018-01-01,0,0.0,0,0.0,0,0.0,0,0.0
2019-01-01,-58200,-48830.0,-9370,-10874.0,37307,20486.0,16820,-31766.0
2020-01-01,-66618,-40387.0,-26231,-2972.0,60423,50781.0,9643,-9170.0
2021-01-01,0,0.0,0,0.0,0,0.0,0,0.0
2022-01-01,303756,0.0,197394,0.0,159480,0.0,37913,0.0
2023-01-01,577223,0.0,384010,0.0,301841,0.0,82166,0.0
2024-01-01,649190,0.0,498211,0.0,437265,0.0,60944,0.0

### BONUS: Create your own question and answer it.

In [9]:
### Drop years with zeros

In [10]:
yearly.drop(index = yearly[yearly.sum(axis = 1) == 0].index, inplace = True, axis = 0)

In [11]:
yearly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-01-01,-42044,-33464.0,-8581,5583.0,22505,16176.0,6332,-13953.0
2012-01-01,-23929,-22012.0,-1915,785.0,9828,12491.0,-2663,-13316.0
2013-01-01,8052,-5562.0,13615,4180.0,-24460,-14209.0,-10251,-12227.0
2014-01-01,-17011,-15124.0,-1887,-6141.0,-14400,-19014.0,4614,-37552.0
2015-01-01,-36337,-25116.0,-11221,-12474.0,-28678,-34571.0,5893,-77489.0
2017-01-01,-51270,-54927.0,3657,-10514.0,26158,26360.0,-204,-35625.0
2019-01-01,-58200,-48830.0,-9370,-10874.0,37307,20486.0,16820,-31766.0
2020-01-01,-66618,-40387.0,-26231,-2972.0,60423,50781.0,9643,-9170.0
2022-01-01,303756,0.0,197394,0.0,159480,0.0,37913,0.0
2023-01-01,577223,0.0,384010,0.0,301841,0.0,82166,0.0
2024-01-01,649190,0.0,498211,0.0,437265,0.0,60944,0.0