# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
one_to_four = pd.Series(np.random.randint(1, 5, 100))
one_to_three = pd.Series(np.random.randint(1, 4, 100))
ten_to_thirty = pd.Series(np.random.randint(10000, 30000, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df = pd.concat([one_to_four, one_to_three, ten_to_thirty], axis = 1)
df

    0  1      2
0   1  1  18585
1   2  2  18046
2   3  2  27068
3   1  3  14164
4   2  1  20568
.. .. ..    ...
95  2  3  28711
96  4  3  13880
97  1  2  25849
98  2  1  18486
99  4  2  23005

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
df.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace = True)
df.columns

Index(['bedrs', 'bathrs', 'price_sqr_meter'], dtype='object')

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
bigcolumn = pd.concat([one_to_four, one_to_three, ten_to_thirty], axis = 0)
bigcolumn

0         1
1         2
2         3
3         1
4         2
      ...
95    28711
96    13880
97    25849
98    18486
99    23005
Length: 300, dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
bigcolumn.index.max()

99

In [7]:
#True

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [8]:
bigcolumn.reset_index(drop = True).index.max()

299