# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

### Step 4. How many products cost more than $10.00?

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipo.item_price = chipo.item_price.str.lstrip('$').astype(float)

In [5]:
chipo['product_price'] = chipo.item_price / chipo.quantity

In [6]:
chipo.drop_duplicates(['product_price', 'item_name', 'choice_description'])[chipo.product_price > 10].loc[:, 'item_name'].count()

/var/folders/dj/x0ggdmrd4pjgkgmhkyycqqyh0000gp/T/ipykernel_71369/666233683.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo.drop_duplicates(['product_price', 'item_name', 'choice_description'])[chipo.product_price > 10].loc[:, 'item_name'].count()

np.int64(707)

### Step 5. What is the price of each item? 
###### print a data frame with only three columns item_name choice_description and product_price

In [7]:
chipo.loc[:, ['item_name', 'choice_description', 'product_price']]

,item_name,choice_description,product_price
0,Chips and Fresh Tomato Salsa,NaN,2.39
1,Izze,[Clementine],3.39
2,Nantucket Nectar,[Apple],3.39
3,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.49
...,...,...,...
4617,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 6. Sort by the name of the item

In [8]:
chipo.sort_values('item_name', inplace = True)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,product_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [9]:
chipo[chipo.item_price == chipo.item_price.max()].quantity

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [10]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].order_id.value_counts().count()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [11]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].value_counts().count()

np.int64(20)